body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #FFDD00;
  --secondary: #0F265C;
  --gray: #979797;
  --black: #000000;
  --white: #FFFF;
}
